* {
	box-sizing: border-box;
}

main {
	background: linear-gradient(45deg,
			#1a1523,
			#39393d);
	padding-bottom: 24px;
}

.carousel-item {
	height: 25rem;
	transition: 0.5s;
	animation-name: fade;
  	animation-duration: 4s;
}

.line {
	text-decoration: none;
}

h1 {
	display: inline-block;
	font-size: .6em;
	text-decoration: none;
	color: #358ed3;
	font-weight: 600;
	line-height: 1.1;
	letter-spacing: -2px;
	transition: 2s;
	font-family: "Oswald", sans-serif;
}

.lastly {
	font-size: 3.4em;
	animation-name: fade;
  	animation-duration: 4s;
}

.logo {
	width: 800px;
	margin-bottom: -1px;
	transition: 0.9s cubic-bezier(0.42, 0, 0.39, 1.39);
	scale: 1.8;
	animation-name: fade;
	animation-duration: 6s;
	animation: fade-in linear;
	animation-timeline: view();
  	
}



.card {
	animation: fade-in linear forwards;
	animation-timeline: view();
	scale: 0.8; opacity: 0;
	animation-range: entry;
}



/* .scroll-watcher {
	height: 10px;
	position: fixed;
	top: 0;
	z-index: 1000;
	background-color: #fffb01;
	width: 1000%;
	scale: .5 1;
	transform-origin: left;
	animation: scroll-watcher linear;
	animation-timeline: scroll();
	animation-range-start: contain;
	animation-range-end: contain;
} */
@keyframes scroll-watcher {
	to { scale: 1 1;}
}

@keyframes fade-in {
	
	to {scale: 1; opacity: 1;}
}

@keyframes fade-out {
	
	to { opacity: 0;}
}

@keyframes move {
	from {left: 0px}
	to { opacity: 0;}
}

.logo:hover {
	transform: translate(10px, 13px);
	animation-fill-mode: forwards;
	animation: move 5s;
	
	animation-name: fade;
}

.welcome {
	color: white;
	animation-name: fade;
  	animation-duration: 4s;
}

.ti-tle {
	animation-name: fade;
  	animation-duration: 4s;
}



/* Card */
.card {
	flex: 40%;
	width: 50%;
	margin: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	
}

.card:hover {
	box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.rounded {
	transform: scale(1);
	transition: transform 0.6s ease;
}

.overflow-bg-dark-text-white-shadow-lg {
	overflow: hidden;
}

.rounded:hover {
	transform: scale(1.1);
}

/* Text elements */
.top_text {
	text-align: center;
	color: white;
	padding: 20px;
	transition: 0.5s;
	animation-name: fade;
  	animation-duration: 4s;
	
	
}

.top-p {
	text-align: center;
	color: white;
	padding: 5px;
	transition: 0.6s;
	animation-name: fade;
  	animation-duration: 4s;
}

.mid-p {
	text-align: center;
	color: white;
	padding: 5px;
	transition: 0.6s;
	animation-name: fade;
  	animation-duration: 4s;
}



.bottom {
	display: flex;
	justify-content: space-around;
}

.rights {
	text-align: center;
	color: white;
	padding: 5px;
	transition: 0.6s;
	transform: scale(1);
	transition: transform 0.6s ease;
}

/* middle texts elements*/
.middle_text {
	text-align: center;
	color: white;
	padding: 10px;
	transition: 0.5s;
	animation-name: fade;
  	animation-duration: 4s;
}

html,
body {
	min-height: 100%;
}

/* body section */
body {
	margin: 0;
	padding: 0;
	font-weight: 600;
	line-height: 1.5;
	font-size: 18px;
	letter-spacing: .1em;
}


/* button */
button {
	font-size: 1rem;
	text-decoration: none;
	padding: 0.25rem 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	cursor: pointer;
	margin: 0 1px;
	background-color: var(--secondary);
}

button:hover {
	background-color: #eb9c34;
	transform: 0.4s ease-in-out transform;
	transform: translateY(5px);
}

button[disabled] {
	cursor: default;
	opacity: .8;
}

img {
	max-width: 100%;
}

span[role="img"] {
	cursor: default;
}

.form {
	width: 40%;
	align-items: center;
	position: center;
}

/* Input element */
input {
	font-size: 1rem;
	padding: 0.25rem;
	border: 1px solid var(--dark);
	outline: none;
	border-radius: 3px;
	transition: box-shadow 0.2s;
}

input:focus {
	border: 1px solid var(--secondary);
	box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

textarea {
	width: 600px;
	height: 120px;
	border: 1px solid var(--dark);
	outline: none;
	border-radius: 3px;
	transition: box-shadow 0.2s;
	padding: 5px;
}

li {
	list-style: none;
}

.container {
	width: 100%;
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
}

.navActive {
	color: var(--primary);
}

.flex-row {
	display: flex;
	flex-wrap: wrap;
}

.space-between {
	justify-content: space-between;
}

.flex-end {
	justify-content: flex-end;
}



.card {
	width: 25%;
	text-align: center;
}

.icons {
	display: inline-block;
	transition: 0.5s;
	transform: scale(1);
	transition: transform 0.6s ease;
}

.icons:hover {
	transform: 0.4s ease-in-out transform;
	transform: translateY(5px);
}

.img-thumbnail {
	width: auto;
	height: 300px;
	margin-bottom: 50px;
	cursor: pointer;
}

/* modal section */
.modalBackdrop {
	background: rgba(68, 64, 64, 0.65);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.modalContainer {
	background: var(--darker);
	border-radius: 5px;
	max-width: 100%;
	margin: 50px auto;
	padding: 15px;
	width: 960px;
}

.modalTitle {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
}

/* ------------------------- LandingPage elements -------------------------- */


.landing-page {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: relative;
	transition: 0.5s;
	font-family: serif;
}

.video-bg {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	z-index: -1;
	object-fit: cover;
}

.bg-overlay {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	z-index: 0;
}


.bar-over {
	width: 100%;
	height: 1em;
	border-bottom: 2px solid white;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	z-index: 1;
}

.landing-h1 {
	font-size: 7em;
	animation-name: fade;
	animation-duration: 4s;
	text-shadow: #242627;
	color: white;
}

.landing-p {
	justify-self: flex-end;
	font-size: 2em;
	animation-name: fade;
	animation-duration: 6s;
	color: white;
}

.home-text {
	height: 60%;
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	z-index: 2;
	/* font-family: "Cavergiz"; */
}

.home-btn {
	height: 2em;
	width: 6em;
	border: 2px solid white;
	border-radius: 0.25em;
	background-color: rgb(138, 145, 148);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-size: 2em;
	z-index: 1;
	align-items: center;
	cursor: pointer;

}

.home-btn:hover {
	background-color: #7eb8dc;
	transform: 0.4s ease-in-out transform;
	transform: translateY(2px);

}

/* Animation */
@keyframes fade {
	0% {
		opacity: 0;
		margin-left: 3em;
	}

	100% {
		opacity: 1;
	}
}

